---
title: ✦ Prompf
subtitle: ƒ› Prompt the Life You Want
---

`ƒ› prompf`

> PROMPt + liFe = **prompf** <I p={import("/src/pronunciation/Pronunciation.svelte")} />(verb): to prompt the life you want
