:root {
    color-scheme: light dark;
    font-family: system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin: 0.5rem 0.5rem 0;
}

.main-nav {
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;

        .divider {
            display: none;
        }
    }

    @media (min-width: 400px) {
        ul {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.5rem;

            .divider {
                display: initial;
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }

        &.active {
            font-weight: bold;
        }
    }
}

.svx {
    header {

        text-align: center;
        font-size: min(1em, 3vw);
        line-height: 1.25;

        .title,
        .subtitle,
        .author {

            font-weight: bold;
        }

        .title {
            text-transform: uppercase;
        }

        .author {
            font-style: italic
        }
    }

    .body {
        display: grid;
        grid-template-columns: auto minmax(0, 800px);
        gap: 0.5rem;
        max-width: 1200px;
        margin: 0 auto;

        &:has(>:only-child) {
            max-width: 800px;
            grid-template-columns: 1fr;
        }

        .toc {
            max-width: 400px;
            position: sticky;
            top: 0;
            overflow: auto;
            max-height: calc(100vh - var(--scroll-toc-top, 0px));

            nav {

                .title {
                    font-variant: all-small-caps;
                    font-size: x-large;
                    font-weight: normal;

                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .list {
                    list-style: none;
                    padding-left: 0;

                    a {
                        text-decoration: none;
                        color: inherit;
                        display: block;
                        padding-left: calc(var(--indent) * 2.5ch);

                        .index {
                            word-break: break-all;

                            &::after {
                                content: " ";
                            }
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

            }
        }

        .content {

            h1,
            h2 {
                font-weight: normal;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                .section {

                    &::after {
                        content: " ";
                    }

                    .link {
                        text-decoration: none;
                        color: inherit;
                        font-size: 1.25rem;

                        &::before {
                            content: "§";
                        }

                        *:hover>.section & {
                            text-decoration: underline;
                        }
                    }
                }

                .index {
                    font-size: smaller;

                    display: none;

                    .toc+.content & {
                        display: inline;
                    }

                    &::after {
                        content: " ";
                    }
                }
            }

            a:hover {
                text-underline-offset: 2px;
            }
        }

        .the-end {
            text-align: center;
            padding: 1em 0 calc(100vh - 2em);
            line-height: 1;
        }

    }

    @media (max-width: 1200px) {
        .body {
            grid-template-columns: 1fr;
            gap: 0;
            max-width: 800px;

            .toc {
                max-width: initial;
                position: initial;
                max-height: initial;
            }
        }
    }
}